# Physical Android Device Test

Device: Samsung Galaxy S21

Android Version: 15

Tester: Dawson

Date: July 23, 2026

## Results

- [x] App installed
- [x] GPS collected
- [x] Speed recorded
- [x] Trip Summary displayed

Notes:

Everything worked correctly.